<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE Photo Booth</title>

  <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pietimer.css')}}">

  <script src="{{url_for('static', filename='js/vendor/modernizr.js')}}"></script>
  <style>
    .valign-middle {
        display: table;
          height: 100%;
    }

    .valign-middle > .columns {
        display: table-cell;
        vertical-align: middle;
    }

    .valign-middle > .columns,
    .valign-middle > [class*="column"] + [class*="column"]:last-child {
        float: none;

    }


    input.hide, .button.hide, .hide {
      display: none;
    }


    .cse_img {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 100px;
    }

    #countdown_pane {
      font-size: 100px;

    }
  </style>

</head>
<body>

  <img src="{{url_for('static', filename='img/cse.png')}}" class="cse_img">
  <div class="row valign-middle">
    
    <div class="small-9 columns valign-middle text-center">
      <h1 id="photo_booth_header">CSE Photo Booth</h1>
      <div class="panel" id="photo_pane">
        It's time to take a photo!
      </div>
      <div id="timer"></div>
      <input type="text" id="caption" maxlength="40" class="hide" placeholder="Caption your photo? (40 characters)">
      <input type="text" id="email" class="hide" placeholder="Your email address...">

      <a href="#" id="take_photo" class="button large">Take Photo</a><br />
      <a href="#" id="save_photo" class="button hide">Send</a>
      <a href="#" id="retake_photo" class="button hide secondary">Take Again</a>
    </div>

  </div>



  <script src="{{url_for('static', filename='js/vendor/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.pietimer.js')}}"></script>
  <script src="{{url_for('static', filename='js/foundation.min.js')}}"></script>
  <script>



$(function() {
      
    });



    $(document).foundation();
    var photo_name;

    $( "#take_photo" ).click(function() {
      $(this).fadeOut();
      $('#photo_pane').fadeOut();
      $('#photo_booth_header').fadeOut();
      setTimeout(countdown, 450)

    });

    $( "#retake_photo" ).click(function() {
      $('#photo_pane').fadeOut();
      $('#retake_photo').fadeOut();
      $('#save_photo').fadeOut();
      $('#caption').fadeOut();
      $('#email').fadeOut();
      setTimeout(countdown, 450);
      
    });

    function countdown() {
      $('#timer').pietimer({
          timerSeconds: 3,
          color: '#234',
          fill: false,
          showPercentage: true,
          callback: function() {
              $('#timer').hide();
              $('#countdown_pane').html('Say Cheese!');
              $.get( "/take_photo", function( data ) {
                takePhoto(data);
              });
          }
      });


        
    }



    function takePhoto(data) {
      if (!data.success) {
        alert(data.error);
        document.location.href = '/';
      }
      var img = $('<img />', {
        "src": "/pictures/" + data.name
      });
      photo_name = data.name;
      $('#photo_pane').html(img);
      $('#countdown_pane').html("");
      $('#photo_pane').fadeIn();
      $('#retake_photo').fadeIn();
      $('#save_photo').fadeIn();
      $('#caption').fadeIn();
      $('#email').fadeIn();
    }




    $( "#save_photo" ).click(function() {
      $.post("/save_photo/" + photo_name, {
        caption: $('#caption').val(), 
        email: $('#email').val()
      }).done(function( data ) {
        $('#retake_photo').fadeOut();
        $('#save_photo').fadeOut();
        $('#caption').fadeOut();
        $('#caption').val("");
        $('#email').fadeOut();
        $('#email').val("");
        if ($('#email').val()) { 
            alert("Thanks for taking a photo. We will send it to you via email!")
        }
        $('#photo_pane').html("It's time to take a photo!");
        $('#take_photo').delay(1000).fadeIn();
        $('#photo_booth_header').fadeIn();
      });
    });

  </script>
</body>
</html>
